@use '../shared/heading_label.scss';

.ui-dialog .tab-content .charsheet {
    .hidden {
        display: none;
    }

    .alert {
        padding: 0px;
        border-radius: 0.75em;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: flex-start;

    }

    .alert__info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;

        .alert__close:before,
        .alert__close:after {
            background: #519abe;
        }

        .alert__close:hover:before,
        .alert__close:hover:after {
            background: #31708f;
        }
    }

    .alert__warning {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;

        .alert__close:before,
        .alert__close:after {
            background: #a94442;
        }

        .alert__close:hover:before,
        .alert__close:hover:after {
            background: darkred;
        }
    }

    .alert__close {
        position: relative;
        background: transparent;
        border: none;
        padding: 0px;
        margin: 0.5em;
        flex-grow: 0;
        margin-left: 1em;
        width: 1.1em;
        height: 1.1em;
        cursor: pointer;
    }

    .alert__close:after,
    .alert__close:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 1.5em;
        display: block;
        transform: rotate(45deg);
        left: 50%;
        margin: -3px 0 0 -1px;
        top: 0;
    }

    .alert__close:before {
        transform: rotate(-45deg);
    }

    .alert__content {
        flex-grow: 1;
        margin: 1em;
    }




    .markdown {

        h1,
        h2,
        h3,
        h4 {
            @extend %heading-label-style;
        }
    }

    .documentation .markdown {

        p,
        li {
            font-family: 'Macondo';
            color: #663333;
            font-size: 14px;
        }

        li li {
            font-size: 1em;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 5px;
            margin-top: 15px;
        }

        .codespan {
            font-family: 'Delius';
            padding-left: 2px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.05)
        }
    }
}