
//- PUG does not allow files with just an unbuffered javascript for reuse
//- so we include a dummy mixin

mixin render_markdown(filepath)

    - const fs = require("fs");
    - if (! fs.existsSync(filepath)) { throw new Error(`${filepath} doesn't exists`); }
    - const md = require("markdown-it")({"html": true});
    div.markdown
        != md.render(fs.readFileSync(filepath, "utf8"))

