div(class='tabpage __abilityTab')
    div(class="pageHalf")
        div(class="characteristics")
            h1 
                | Characteristics
    div(class="pageHalf abilities")
        h1 
            | Abilities 
        fieldset(class="repeating_ability")
            div
                +roll("Ability Roll", "attr_Ability_name", `Ability_name`)
                input(type="text" name="attr_Ability_name")
                span(class="display_score")
                    | 3
                input(type="checkbox" name="attr_Ability_show")
            
            div(class="expanding_contrast __emerald")
                input(type="hidden" class="expand_toggle" name="attr_Ability_show")
                div(class="expanding" )
                    div(class="xp_ribbon")
                        div(class="specialization")
                            input(type="text" name="attr_Ability_speciality")
                        div(class="ribbonScore" data-tip="Base Score")
                            input(type="number" name="Ability_score" value="0")
                        span(class="tip" data-tip="Base Score")
                        div(class="ribbonCurrent" data-tip="Current Experience")
                                input(type="number" name="Ability_current" value="0")
                        span(class="tip" data-tip="Current Experience")
                        div(class="ribbonPair")
                            div(class="ribbonProgress" data-tip="Experience to next level")
                                input(type="number" name="Ability_progress" value="0")
                            span(class="tip" data-tip="Experience to next level")
                            div(class="ribbonMax"  data-tip="Experience to buy")
                                input(type="number" name="Ability_max" value="0")
                            span(class="tip" data-tip="Experience to buy")
                        div(class="ribbonBonus" data-tip="Bonus to base score")
                            input(type="number" name="Ability_bonus" value="0")
                        span(class="tip" data-tip="Bonus to base score")
                    label(class="option_accelerated" data-tip="Accelerated Experience")
                        span(class="icon_accelerated")
                        div(class="c_check")
                            input(type="checkbox" name="attr_Ability_accelerated")
                            span
                        span(class="tip" data-tip="Accelerated Experience")